{
   "applicationDescriptors":[
      {
         "id":"application-1.3.7",
         "version":"1.3.7",
         "name":"application",
         "description":"Application 1 description",
         "modules":[
            {
               "id":"mod-foo-1.3.5",
               "name":"mod-foo",
               "version":"1.3.5"
            },
            {
               "id":"mod-bar-1.7.9",
               "name":"mod-bar",
               "version":"1.7.9"
            },
            {
               "id":"mod-baz-1.0.0",
               "name":"mod-baz",
               "version":"1.0.0"
               "url":"http://localhost:8080/modules/mod-baz-1.0.0.zip"
            }
         ],
         "moduleDescriptors":[
            {
               "id":"mod-foo-1.3.5",
               "name":"Test Module",
               "provides":[
                  {
                     "id":"test",
                     "version":"0.1",
                     "handlers":[
                        {
                           "methods":[
                              "POST"
                           ],
                           "pathPattern":"/test",
                           "permissionsRequired":[
                              "test.item.post"
                           ]
                        }
                     ]
                  }
               ],
               "requires":[
                  {
                     "id":"another-test",
                     "version":"1.0"
                  }
               ],
               "permissionSets":[
                  {
                     "permissionName":"test.item.post",
                     "displayName":"Test",
                     "description":"Test"
                  }
               ]
            }
         ],
         "uiModules":[
            {
               "id":"folio_foo-2.0.0",
               "name":"folio_foo",
               "version":"2.0.0"
            }
         ],
         "uiModuleDescriptors":[
            {
               "id":"folio_foo-2.0.0",
               "name":"folio_foo",
               "provides":[

               ],
               "requires":[
                  {
                     "id":"test",
                     "version":"0.1"
                  }
               ],
               "permissionSets":[
                  {
                     "permissionName":"ui.manage.test",
                     "displayName":"Manage Test",
                     "description":"Manage Test"
                  }
               ]
            }
         ],
         "platform":"2+",
         "dependencies":[
            {
               "id":"application-2.3.7",
               "name":"application",
               "version":"2.3.7"
            },
            {
               "id":"application-3.0.0",
               "name":"application",
               "version":"3.0.0"
            }
         ]
      }
   ],
   "totalRecords":1
}
